@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #2874f0;
    --main-footer-color: #172337;
    --font-medium: 500;
}
  

header {
    background-color: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.logo img {
    width: 69px;
    padding: 0 23px;  
}

.explore-plus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}

.explore-plus a {
    font-size: 11px;
    font-style: italic;
    color: #ffe500;
    font-weight: var(--font-medium);
    margin-right: 2px;
}

.explore-plus img {
    width: 10px;
}

nav ul {
    height: 52px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 17px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

footer {
    height: 12vh;
    background-color: var(--main-footer-color);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}